@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="One_of_my_favorite_songs"class="display-4 my-text" onmouseover="newColor()" onmouseout="oldColor()">One of my favorite songs</h1>
    <iframe width="727" height="409" src="https://www.youtube.com/embed/60ItHLz5WEA?list=RDGMEMWO-g6DgCWEqKlDtKbJA1Gw" title="Alan Walker - Faded" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p>Click here <a href="https://www.youtube.com/">find more music</a>.</p>
</div>
